					<div class="row mb-1">
						<div class="col-4"><label>Nombre del Curso:</label></div>
						<div class="col-8">{{form.titulo}}</div>
					</div>
					<div class="row mb-1">
						<div class="col-4"><label>Descripcion del Curso:</label></div>
						<div class="col-8">{{form.descripcion}}</div>
					</div>
					<div class="row mb-1">
						<div class="col-4"><label>Logo del Curso:</label></div>
						<div class="col-8">{{form.avatar}}</div>
					</div>
					<div class="row mb-1">
						<div class="col-4"><label>Disciplina del Curso:</label></div>
						<div class="col-8">{{form.disciplina}}</div>
					</div>
					<div class="row mb-3">
						<div class="col-4"><label>Precio del Curso:</label></div>
						<div class="col-8">{{form.precio}}</div>
					</div>
					<div class="row mb-5">
						<input class="col btn btn-primary" type="submit" value="Grabar">
					</div>
