<div class="row mb-4">
	<div class="col-4"><label>Nombre:</label></div>
	<div class="col-8">{{form.nombre}}</div>
</div>
<div class="row mb-4">
	<div class="col-4"><label>Descripcion:</label></div>
	<div class="col-8">{{form.descripcion}}</div>
</div>
<div class="row mb-4">
	<div class="col-4"><label>Imagen:</label></div>
	<div class="col-8">{{form.imagen}}</div>
</div>
<div class="row mb-4">
	<div class="col-4"><label>Media:</label></div>
	<div class="col-8">{{form.media}}</div>
</div>
<div class="row mb-4">
	<div class="col-4"><label>Texto:</label></div>
	<div class="col-8">{{form.texto}}</div>
</div>
<div class="row mb-4">
	<div class="col-4"><label>Direccion Web:</label></div>
	<div class="col-8">{{form.dirurl}}</div>
</div>
<div class="row mb-4">
	<div class="col-4"><label>Referencia de Imagen:</label></div>
	<div class="col-8">{{form.referencia_imagen}}</div>
</div>
<div class="row mb-4">
	<div class="col-4"><label>Referencia Media:</label></div>
	<div class="col-8">{{form.referencia_media}}</div>
</div>
<div class="row mb-4">
	<div class="col-4"><label>Referencia de Texto:</label></div>
	<div class="col-8">{{form.referencia_texto}}</div>
</div>
<div class="row mb-5">
	<input class="btn btn-primary" type="submit" value="Grabar">
</div>
<input type="text" hidden="true" value="{{tema.id}}" name="tema_id">