<!DOCTYPE html>
<html lang="en">
<head>
	{% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>escuela</title>

    {% include 'includes/css.html' %}

</head>

<body>
    <main>
		{% include 'includes/base_comun.html' %}        
		<section>
        	<div>{% block cursos_izquierda %}{% endblock %}</div>
        	<div>{% block cursos_centro %}{% endblock %}</div>
        	<div>Lorem ipsum dolor, sit amet consectetur adipisicing, elit. Laudantium, excepturi!</div>
        </section>
    </main>

    {% include 'includes/js.html' %}
<!--     <script src="{% static 'js/jquery-3.6.0.min.js' %}" crossorigin="anonymous"></script>
    <script src="{% static 'js/js.js' %}" crossorigin="anonymous"></script>
 -->
</body>
</html>