{% extends 'base_formularios.html' %}
{% load static %}
{% block cursos_centro %}

	<div class="container">
		<div class="row mb-4">
			<div class="col">
				<h1>Cambio de password</h1>
			</div>
		</div>
		<div class="row">
			<div class="col">	
				<div class="container">	
					<form action="." method="POST" enctype="multipart/form-data">
						{% csrf_token %}
						<div class="row mb-2">
							<div class="col-6">
								<label for="id_old_password">Contraseña antigua:</label>
							</div>
							<div class="col-6">
								<input type="password" name="old_password" autocomplete="current-password" autofocus required id="id_old_password">					
							</div>
						</div>
						<div class="row mb-2">
							<div class="col-6">
								<label for="id_new_password1">Contraseña nueva:</label>		
							</div>
							<div class="col-6">
								<input type="password" name="new_password1" autocomplete="new-password" required id="id_new_password1">
							</div>
						</div>
						<div class="row mb-2">
							<div class="col">
								<ul>
									<li>Su contraseña no puede ser muy similar a su otra información personal.</li>
									<li>Su contraseña es muy corta. Debe contener al menos 8 caracteres.</li>
									<li>Su contraseña no puede ser una contraseña de uso común.</li>
									<li>Su contraseña no puede ser completamente numérica.</li>
								</ul>
							</div>
						</div>
						<div class="row mb-4">
							<div class="col-6">
								<label for="id_new_password2">Confirmación de contraseña nueva:</label>
							</div>
							<div class="col-6">
								<input type="password" name="new_password2" autocomplete="new-password" required id="id_new_password2">
							</div>
						</div>			
						<div class="row mb-4">
							<input class="col btn btn-primary" type="submit" value="Submit">
						</div>			
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
