{% extends 'base_formularios.html' %}
{% load static %}
{% block cursos_centro %}

	<div class="container">
		<div class="row mb-4">
			<div class="col"><h1>Restauracion de la clave</h1></div>
		</div>
		<div class="row mb-4">
			<div class="col">
				Por favor introduzca una nueva contrasenia dos veces de manera que podamos verificar que la ha escrito correctamente					</div>
		</div>
		<form method="post">
			{% csrf_token %}
			<div class="row mb-4">
				<div class="col"><label for="id_new_password1">Nueva contraseña:</label></div>
				<div class="col">
					<input type="password" name="new_password1" autocomplete="new-password" required id="id_new_password1">				</div>
			</div>
			<div class="row mb-4">
				<div class="col"><label for="id_new_password2">Confirme contraseña:</label></div>
				<div class="col"><input type="password" name="new_password2" autocomplete="new-password" required 
							id="id_new_password2">
				</div>
			</div>
			<div class="row mb-4"><input class=”col btn btn-primary” type="submit" value="Cambiar mi contraseña"></div>
		</form>
	</div>

{% endblock %}




