{% extends 'base_formularios.html' %}
{% block cursos_centro %}
	{% load static %}
	<div class="container">
		<div class="row mt-5 mb-5">
			<div class="col">
				<h3>Restablecimiento de contraseña completado</h3>		
			</div>
		</div>
		<div class="row mb-4">
			<div class="col">
				Su nueva contraseña ha sido establecida. Ahora puede seguir adelante e iniciar sesión.
			</div>		
		</div>
		<div class="row mb-4">
			<div class="col">
				<a href="{% url 'login' %}">Iniciar sesión</a>
			</div>
		</div>
	</div>
{% endblock %}
