{% extends 'base_formularios.html' %}
{% block cursos_centro %}
{% load static %}

<div class="container">
	<div class="row mt-5 mt-3">
		<div class="col">
			Le hemos enviado por email las instrucciones para restablecer la contraseña, si es que existe una cuenta con la dirección electrónica que indicó. Debería recibirlas en breve.
		</div>
	</div>
	<div class="row mb-5">
		<div class="col">
			Si no recibe un correo, por favor asegúrese de que ha introducido la dirección de correo con la que se registró y verifique su carpeta de spam.
		</div>
	</div>
</div>

{% endblock %}
