{% extends 'base_formularios.html' %}
{% load static %}
{% block cursos_centro %}
	<form method="post">{% csrf_token %}
		<div class="container">
			<div class="row mb-3">
				<div class="col">
					Está seguro de borrar:  "{{ object }}"?
				</div>
			</div>
			<div class="row">
				<div class="col"><input type="submit" value="Confirm"></div>
				<div class="col"><a class="btn btn-primary btn-block" href="{% url 'visitante:editar_tema' object.tema.id %}?capitulo_id={{object.tema.capitulo.id}}">Cancelar</a></div>
			</div>
		</div>
	</form>
{% endblock %}