{% extends 'base_formularios.html' %}
{% load static %}
{% block cursos_centro %}
	<div class="container">
		<div class="row mt-5 mb-5">
			<div class="col"><h1>{{titulo_template}}{{titulo}}</h1>	</div>
		</div>
		{% include 'includes/manejo_errores.html' %}			
		<div class="row">
			<div class="col">
				<form action="." method="POST" enctype="multipart/form-data">
					{% csrf_token %}
					{% include 'includes/tema_controles.html' %}				
				</form>
			</div>
		</div>

		<style>
			.fila_titulo > .col {display: flex;justify-content: center; font-size: 16pt; font-family: roboto; color:darkblue; font-weight: bold;}
			.fila_columnas {border-bottom: 1pt solid black;border-top: 1pt solid black; font-weight: bold;}
		</style>

		<!-- Detalles -->

		<div class="fila_titulo row mb-4">
			<div class="col">
				Detalles para el Tema
			</div>
		</div>
		<div class="fila_columnas row mb-2">
			<div class="col-3">Nombre</div>
			<div class="col-5">Descripcion</div>
			<div class="col-2">Tipo</div>
		</div>
		{% for detalle in lista_detalles %}
			<div class="row">
				<div class="col-3">{{detalle.0.nombre}}</div>
				<div class="col-5">{{detalle.0.descripcion}}</div>
				<div class="col col-2">{{detalle.1}}
					<a  href="{% url 'visitante:editar_detalle' detalle.0.id %}?tema_id={{tema.id}}">Editar</a>
				</div>
				<div class="col col-2">
					<a href="{% url 'visitante:borrar_detalle' detalle.0.id %}?tema_id={{tema.id}}">Borrar</a>
				</div>				
			</div>
		{% endfor %}
		<div class="row mb-5">
			<a class="btn btn-block btn-secondary mt-2" href="{% url 'visitante:nuevo_detalle'%}?tema_id={{ tema.id }}">Nuevo Detalle para el Tema</a>
		</div>

	</div>
{% endblock %}